# EVALUATING CLASSIFICATION MODEL PERFORMANCE

confusion matrix-->often used to describe the performance of the classification model on a set of test data on which true values are known

In [12]:
import pandas as pd
import numpy as np

In [13]:
data=pd.read_csv("adult.csv")
data.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [14]:
data1=data.drop(["workclass","fnlwgt","education","marital-status","occupation","relationship","race","gender","capital-loss","native-country"],axis="columns")
data1

       age  educational-num  capital-gain  hours-per-week income
0       25                7             0              40  <=50K
1       38                9             0              50  <=50K
2       28               12             0              40   >50K
3       44               10          7688              40   >50K
4       18               10             0              30  <=50K
...    ...              ...           ...             ...    ...
48837   27               12             0              38  <=50K
48838   40                9             0              40   >50K
48839   58                9             0              40  <=50K
48840   22                9             0              20  <=50K
48841   52                9         15024              40   >50K

[48842 rows x 5 columns]

In [15]:
income_set=set(data1["income"])
data1["income"]=data1["income"].map({"<=50K":0 ,">50K":1}).astype(int)

In [16]:
data1.head()

   age  educational-num  capital-gain  hours-per-week  income
0   25                7             0              40       0
1   38                9             0              50       0
2   28               12             0              40       1
3   44               10          7688              40       1
4   18               10             0              30       0

In [18]:
x=data1.drop(["income"],axis=1)
y=data1.income

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [23]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)#fit_transform-->calculating variance and mean for each and every feature present in our data
x_test=sc.transform(x_test)#transform-->calculating mean and variance for entire feature present in our dataset

In [27]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression(random_state=42)
model.fit(x_train,y_train)

C:\Users\ROHAN\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=42, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [30]:
y_pred=model.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

AttributeError: 'Series' object has no attribute 'reshape'

In [45]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print("confusion matrix")
print(cm)
print("accuracy_score is {}%".format(accuracy_score(y_pred,y_test)*100))

confusion matrix
[[   0 9273]
 [   0 2938]]
accuracy_score is 24.06027352387192%