In [63]:
import pandas as pd
import numpy as np

In [64]:
data=pd.read_csv("Bengaluru_House_Data.csv")
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [65]:
data.shape

(13320, 9)

In [66]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [54]:
x=data.drop(["price"],axis=1)
y=data.price

In [67]:
num_data=x.select_dtypes(exclude=["object"]).columns
xdata=x[num_data]

In [68]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(xdata,y,test_size=0.3,random_state=10)

In [70]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import PolynomialFeatures

In [73]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

modellr=LinearRegression()

poly_reg=PolynomialFeatures(degree=2)
xpoly=poly_reg.fit_transform(x_train)
modelplr=LinearRegression()

modeldtr=DecisionTreeRegressor(criterion='mse',splitter='best')

modelRF=RandomForestRegressor(n_estimators=10,random_state=20)

modelsvr=SVR(kernel="sigmoid")

In [74]:
modellr.fit(x_train,y_train)
modelplr.fit(x_train,y_train)
modeldtr.fit(x_train,y_train)
modelRF.fit(x_train,y_train)
modelsvr.fit(x_train,y_train)

C:\Users\ROHAN\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='sigmoid', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [76]:
lry_pred=modellr.predict(x_test)
plry_pred=modelplr.predict(x_test)
dtry_pred=modeldtr.predict(x_test)
rfy_pred=modelRF.predict(x_test)
svry_pred=modelsvr.predict(x_test)

In [83]:
from sklearn.metrics import r2_score
print("linear regression {}".format(r2_score(lry_pred,y_test)*100))
print("poly regression {}".format(r2_score(plry_pred,y_test)*100))
print("decission tree regression {}".format(r2_score(dtry_pred,y_test)*100))
print("random forest regression {}".format(r2_score(rfy_pred,y_test)*100))
print("supp vector regression {}".format(r2_score(svry_pred,y_test)*100))

linear regression 77.7152146456807
poly regression 77.7152146456807
decission tree regression 88.24875107612861
random forest regression 87.95322017488287
supp vector regression 0.0